* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}

.gameboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  margin: 20px;
}

p {
  margin: 0 20px 30px;
}

.pieces {
  width: 280px;
  height: 360px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
  flex-wrap: wrap;
}

.piece {
  width: 80px;
  height: 120px;
  background-color: pink;
}

.puzzle {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 360px;
  background-color: #b2b2b2;
}

.place {
  width: 80px;
  height: 120px;
  background-color: lightgray;
  border: 0.5px solid #fff;
}

.place:hover {
  background-color: gray;
}

.reset {
  all: unset;
  z-index: 99999;

  width: 100px;
  height: 40px;

  margin: 20px;

  background-color: white;
  border-radius: 25px;
  border: 0.5px solid black;

  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  font-family: monospace;
  letter-spacing: 1px;

  transition: 200ms;
}

.hover {
  background-color: gray;
  transition: background-color 200ms;
}

.reset:hover {
  background-color: pink;
  box-shadow: 1px 3px 0px 1px grey;

  transform: translate(0px, -3px);
  transition: 200ms;
}

.reset:active {
  background-color: grey;
  border: 0.5px solid white;
  color: white;
  box-shadow: 1px 3px 0px 1px pink;
}

.endgame {
  visibility: hidden;
}

.won {
  visibility: visible;
}

@media (max-width: 768px) {
  .gameboard {
    flex-direction: column;
    /* overflow: hidden; */
  }
  .pieces {
    width: 300px;
    height: fit-content;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-top: 10px;
  }
}
